html {
    display: table;
    width: 80%;
    margin: auto;
    max-width: 732px;
    padding-top: 25px;
    padding-bottom: 50px;
    /*background-color: #161616;*/
}

body {
    display: table-cell;
    vertical-align: middle;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
    color: blue;
} */

/* === HORIZONTAL LINE */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* === VIDEOS AND IMAGES === */
iframe {
    width: 560px;
    height: 315px;
    margin: 30px auto 30px auto;
    text-align:center;
    display: block;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

img {
    width: 560px;
    height: 315px;
    margin: 30px auto 30px auto;
    text-align:center;
    display: block;
}

a, a:link {
    color: mediumseagreen;
    text-decoration: none;
}

a:hover
{
    color: green;
}

/* ul.nav li a:hover, ul.nav li a:active {
    color: black;
} */